<!--
    Page Details  Component .

    This is the  component for page level notifications

    -->

<sly data-sly-template.pageDetails_template="${@ data, flag}">
  <div data-sly-test="${data.viewType == 'event'}">
    <div class="container">
      <div class="row c-page-details" data-sly-test="${data.eventPage}">
        <div class="col-lg-6 col-xs-12 event-details">
          <h3 class="c-page-details__pre-sub-heading ellipses ellipses-common subheading-height">${data.titleThree}</h3>
          <ul class="c-page-details__tags-list">
              <li class="x-body-tags">${data.publishDate}</li>
              <li class="x-body-tags">${data.location}</li>
          </ul>
        </div>
      </div>
      <div class="row c-page-details" data-module="pageDetails">
        <div class="col-lg-6 col-xs-12" data-sly-test.isTwoColLayout="${data.twoColumnView}">  
          <h3 class="c-page-details__event-heading ellipses ellipses-common">${data.titleOne}</h3>
          <div class="c-page-details__description ellipses ellipses-common description-height">
            ${data.pageDescriptionOne  @ context= 'html'}
          </div>
          <a data-sly-test="${data.label}" href="${data.url}" class="x-submit-button c-page-details__page-detail-btn label-ellipses" target="${data.target}" data-fn-click="true" data-da-satelliteTrackEvent="generic-link-tracking" data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="${component.name}" data-da-link_link-Header="${data.titleOne}" data-da-link_link-Text="${data.label}" 
          data-da-link_link-Interaction-Method="" data-da-link_content-type="${data.headline}" data-da-link_content-title="${data.headline}">${data.label}</a>
        </div>
        <div class="col-lg-12 col-xs-12" data-sly-test="${!isTwoColLayout}">
          <h3 class="c-page-details__event-heading ellipses ellipses-common">${data.titleOne}</h3>
          <div class="c-page-details__description ellipses ellipses-common description-height">
            ${data.pageDescriptionOne  @ context= 'html'}
          </div>
          <a data-sly-test="${data.label}" href="${data.url}" class="x-submit-button c-page-details__page-detail-btn label-ellipses" target="${data.target}" data-fn-click="true" data-da-satelliteTrackEvent="generic-link-tracking" data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="${component.name}" data-da-link_link-Header="${data.titleOne}" data-da-link_link-Text="${data.label}" 
          data-da-link_link-Interaction-Method="" data-da-link_content-type="${data.headline}" data-da-link_content-title="${data.headline}">${data.label}</a>
        </div>
        <div class="col-lg-4 col-lg-offset-1 col-xs-12 mobile-view" data-sly-test="${isTwoColLayout}">
          <h3 class="c-page-details__event-heading">${data.titleTwo}</h3>
          <div class="c-page-details__description">
            ${data.pageDescriptionTwo  @ context= 'html'}
          </div>
        </div>
        <div class="col-lg-12  col-xs-12 margin-small mobile-view" data-sly-test="${!isTwoColLayout}">
          <h3 class="c-page-details__event-heading">${data.titleTwo}</h3>
          <div class="c-page-details__description">
            ${data.pageDescriptionTwo  @ context= 'html'}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- variationType = eventDetail -->
  <div data-sly-test="${data.viewType == 'preevent'}">
    <div class="container">
      <div class="row c-page-details">
        <div data-sly-test.isTwoColLayout="${data.twoColumnView}">
          <div class="col-lg-6 col-xs-12 eventDetail x-nopadding">  
            <div class="image-block col-lg-11 x-nopadding">
              <sly  data-sly-use.lib="/apps/roche/pharma/customerportal/components/dynamicimage/dynamicimage.html" data-sly-call="${lib.dynamicimage_template @imagePath=data.fileReference, altText=data.altText}" />
            </div>
          </div>
        </div>
        <div  data-sly-test="${!isTwoColLayout}">
          <div class="col-lg-12 eventDetail x-nopadding">
            <div class="image-block col-lg-11 x-nopadding">
              <sly  data-sly-use.lib="/apps/roche/pharma/customerportal/components/dynamicimage/dynamicimage.html" data-sly-call="${lib.dynamicimage_template @imagePath=data.fileReference, altText=data.altText}" />
            </div>
          </div>
        </div>
        <div data-sly-test="${isTwoColLayout}">
          <div class="col-lg-6 col-xs-12 eventDetail">
            <div >
              <h3 class="x-caption-1 c-page-details__event-heading ellipses ellipses-common">${data.titleThree}</h3>
              <ul class="c-page-details__tags-list">
                  <li class="x-body-tags">${data.publishDate}</li>
                  <li class="x-body-tags">${data.location}</li>
              </ul>
            </div>
            <div class="col-xs-12 c-page-details__description ellipses ellipses-common description-height">
              ${data.pageDescriptionOne  @ context= 'html'}
            </div>
            <a data-sly-test="${data.label}" href="${data.url}" class="x-submit-button c-page-details__page-detail-btn label-ellipses" target="${data.target}" data-fn-click="true" data-da-satelliteTrackEvent="generic-link-tracking" data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="${component.name}" data-da-link_link-Header="${data.titleOne}" data-da-link_link-Text="${data.label}" 
            data-da-link_link-Interaction-Method="" data-da-link_content-type="${data.headline}" data-da-link_content-title="${data.headline}">${data.label}</a>
          </div>
        </div>
        <div data-sly-test="${!isTwoColLayout}">
          <div class="col-lg-12 col-xs-12 eventDetail">
            <div class="row c-page-details">
              <div class="col-lg-6 col-xs-12">
                <h3 class="x-caption-1 c-page-details__event-heading ellipses ellipses-common">${data.titleThree}</h3>
                <ul class="c-page-details__tags-list">
                    <li class="x-body-tags">${data.publishDate}</li>
                    <li class="x-body-tags">${data.location}</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12 c-page-details__description ellipses ellipses-common description-height">
              ${data.pageDescriptionOne  @ context= 'html'}
            </div>
            <a data-sly-test="${data.label}" href="${data.url}" class="x-submit-button c-page-details__page-detail-btn label-ellipses" target="${data.target}" data-fn-click="true" data-da-satelliteTrackEvent="generic-link-tracking" data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="${component.name}" data-da-link_link-Header="${data.titleOne}" data-da-link_link-Text="${data.label}" 
            data-da-link_link-Interaction-Method="" data-da-link_content-type="${data.headline}" data-da-link_content-title="${data.headline}">${data.label}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</sly>