<!--
    Dynamic media  Component .

    This is the component for Dynamic Media

    -->
<sly data-sly-template.dynamedia_template="${@ data, flag}">
  <div class="dm-container"> 
  <p>Hero banner - View 1</p>
  <img class="js-dynamic-media adm" data-src-mobile="https://roche-staging-h.assetsadobe2.com/is/image/content/dam/geometrixx-outdoors/roche3.jpg?wid=1920&hei=750" data-src-desktop="https://roche-staging-h.assetsadobe2.com/is/image/content/dam/geometrixx-outdoors/roche3.jpg?wid=1920&hei=750" data-src-tablet="https://roche-staging-h.assetsadobe2.com/is/image/content/dam/geometrixx-outdoors/roche3.jpg?wid=1920&hei=750" alt="Just In Case® Travel Backpack in Gallery Floral">
  </div>
  
  <div class="dm-container"> 
  <p>Hero Banner - View 2</p>
  <img class="js-dynamic-media adm" data-src-mobile="https://roche-staging-h.assetsadobe2.com/is/image/content/dam/geometrixx-outdoors/roche3.jpg?wid=1920&hei=750" data-src-desktop="https://roche-staging-h.assetsadobe2.com/is/image/content/dam/geometrixx-outdoors/roche3.jpg?wid=1920&hei=375&cropN=0,0,1,0.5" data-src-tablet="https://roche-staging-h.assetsadobe2.com/is/image/content/dam/geometrixx-outdoors/roche3.jpg?wid=1920&hei=750" alt="Just In Case® Travel Backpack in Gallery Floral">
  </div>
</sly>