<!--/* Product Listing  Component .
 This is the  component for product listing page*/-->

<sly data-sly-template.productlisting_template="${@ data, flag}">

<div class="t-prod-listing x-comp-offset-spacing">
	<section class="c-page-title">
		Title
	</section>
	<section class="c-hero-banner">
	 	Hero banner
	</section>
	<section class="x-outer-margins c-headline-body">
		Supporting headline
	</section>

	<section class="t-prod-listing__search-row hidden-xs">
		Search row
	</section>

	<section class="c-prod-listing-wrapper">

		<div class="prod-search-results-tile">
      Showing 12 results in Cancer
		</div>
		<div class="visible-xs prod-filter-tab">

		</div>
		<div class="hidden-xs prod-filter-container">
        Filter
		</div>
		<div class="prod-listing-container">
			<div class="hidden-xs sorting-list-container">
      </div>
		</div>
	</section>
</div>
</sly>
