<sly data-sly-template.countryselector_template="${@ data,flag}">
  <div class="c-countryselector x-liipbox  js-countryselector" data-module="countrySelectorCmp">
    <div class="x-liipbox__top-section js-liipbox-top-section">
      <div class="col-1 x-liipbox__left-s">
        <button class="navbar-toggle js-cross-icon translated" data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"
            data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="global-top-navigation" data-da-link_link-header="country-selector" data-da-link_link-Text="${data.locationText}" data-da-link_event="country-selector"
data-da-link_link-Interaction-Method="">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="sr-only">open navigation</span>
        </button>
      </div>
        <div class="x-liipbox__text ellipsis">${'rdoe_countrySelector.locationText' @ i18n, locale=data.locale}</div>
      <div class="c-countryselector__country-text x-liipbox__text ellipsis js-current-country-text hidden"
        data-translated-text="${'rdoe_countrySelector.locationSideText' @ i18n, locale=data.locale}"></div>
      <div class="col-2 x-liipbox__right-s">
        <div class="x-liipbox__right-s__logo js-liipbox-logo">
          <image src="/etc/designs/roche/customerportal/clientlibs/roche.global.publish/images/whiteRoche.svg" itemprop="logo" alt="${data.logoAltText}"/>
        </div>
      </div>
    </div>
    <div class="links-section">
      <div class="container-fluid">
        <div class="col-xs-12 col-sm-3 row-1">
          <div class="left-sm ">
            <div class="sign-in link-row ">
              <div id="map-continents">
                <ul class="continents">
                  <div data-sly-list.continent="${data.countrySelectorList}" data-sly-unwrap>
                    <li class="c1" data-sly-test="${continent.continentCode == 'af'}" data-target="js-af"><a href="#africa" data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"
            data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="global-top-navigation" data-da-link_link-header="country-selector" data-da-link_link-Text="${continent.continentCode}" data-da-link_event="country-selector"
data-da-link_link-Interaction-Method="">Africa</a></li>
                    <li class="c2" data-sly-test="${continent.continentCode == 'as'}" data-target="js-as"><a href="#asia" data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"
            data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="global-top-navigation" data-da-link_link-header="country-selector" data-da-link_link-Text="${continent.continentCode}" data-da-link_event="country-selector"
data-da-link_link-Interaction-Method="">Asia</a></li>
                    <li class="c3" data-sly-test="${continent.continentCode == 'oc'}" data-target="js-oc"><a href="#australia" data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"
            data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="global-top-navigation" data-da-link_link-header="country-selector" data-da-link_link-Text="${continent.continentCode}" data-da-link_event="country-selector"
data-da-link_link-Interaction-Method="">Australia</a></li>
                    <li class="c4" data-sly-test="${continent.continentCode == 'eu'}" data-target="js-eu"><a href="#europe" data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"
            data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="global-top-navigation" data-da-link_link-header="country-selector" data-da-link_link-Text="${continent.continentCode}" data-da-link_event="country-selector"
data-da-link_link-Interaction-Method="">Europe</a></li>
                    <li class="c5" data-sly-test="${continent.continentCode == 'na'}" data-target="js-na"><a href="#north-america" data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"
            data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="global-top-navigation" data-da-link_link-header="country-selector" data-da-link_link-Text="${continent.continentCode}" data-da-link_event="country-selector"
data-da-link_link-Interaction-Method="">North America</a></li>
                    <li class="c6" data-sly-test="${continent.continentCode == 'sa'}" data-target="js-sa"><a href="#south-america" data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"
            data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="global-top-navigation" data-da-link_link-header="country-selector" data-da-link_link-Text="${continent.continentCode}" data-da-link_event="country-selector"
data-da-link_link-Interaction-Method="">South America</a></li>
                  </div>
                </ul>
              </div>
              <h2>
                <ul class="c-countryselector__continent-list">
                  <div data-sly-list.continent="${data.countrySelectorList}" data-sly-unwrap>
                    <li><a href="javascript:void(0);" class="js-continent-selector" id="js-${continent.continentCode}" data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"
            data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="global-top-navigation" data-da-link_link-header="country-selector" data-da-link_link-Text="${continent.continentCode}" data-da-link_event="country-selector"
data-da-link_link-Interaction-Method="">${continent.continentName @ i18n, locale=data.locale} </a></li>
                  </div>
                </ul>
              </h2>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 row-2">
          <div class="right-sm">
            <div class="confirm-box js-confirm-box">
              <p class="confirm-box__content">
                <span data-preselection-string="${'rdoe_countrySelector.currentText' @ i18n, locale=data.locale}"
                      data-existing-cookie-string="${'rdoe_countrySelector.currentCookieText' @ i18n, locale=data.locale}"
                      id="js-country-text"></span>
              </p>
              <div class="confirm-box__btngroup">
                <a class="confirm-box__btngroup__btn js-preselection-yes" href="#" data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"
            data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="global-top-navigation" data-da-link_link-header="country-selector" data-da-link_link-Text="${'rdoe_countrySelector.yes' @ i18n, locale=data.locale}" data-da-link_event="country-selector"
data-da-link_link-Interaction-Method="">${'rdoe_countrySelector.yes' @ i18n, locale=data.locale}</a>
                <a class="confirm-box__btngroup__btn js-preselection-no" href="#" data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"
            data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="global-top-navigation" data-da-link_link-header="country-selector" data-da-link_link-Text="${'rdoe_countrySelector.no' @ i18n, locale=data.locale}" data-da-link_event="country-selector"
data-da-link_link-Interaction-Method="">${'rdoe_countrySelector.no' @ i18n, locale=data.locale}</a>
              </div>
            </div>
            <div data-sly-list.continents="${data.countrySelectorList}" data-sly-unwrap>
              <ul class="right-sm__col country-list js-country-list" id="${continents.continentCode}">
                <div data-sly-list.country="${continents.countryBean}" data-sly-unwrap>
                  <div data-sly-list.language="${country.languageBean}" data-sly-unwrap>
                    <li class="link-row">
                      <a href="#" itemprop="url"
                         data-href="${language.redirectPath}"
                         data-channel="${language.channel}"
                         data-country-code="country-${country.countryCode}"
                         data-country-name="${country.countryName @ i18n, locale=data.locale}"
                         data-language="${language.languageCode}"
                         data-language-text="${language.languageName}"
                         class="link js-country-language-selection" data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"
            data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="global-top-navigation" data-da-link_link-header="country-selector" data-da-link_link-Text="${country.countryName @ i18n, locale=data.locale}" data-da-link_event="country-selector"
data-da-link_link-Interaction-Method="">
                        <span class="content">${country.countryName @ i18n, locale=data.locale} | ${language.languageName @ i18n, locale=data.locale}</span>
                      </a>
                    </li>
                  </div>
              </ul>
            </div>
            <div class="global-site-box js-global-site-box">
              <span class="global-site-text"> ${'rdoe_countrySelector.bottomMessage' @ i18n, locale=data.locale}</span>
              <div data-sly-test.country="rdoe_countrySelector.country.${data.globalCountryCode}" data-sly-unwrap>
              <a data-href="${data.globalHomePagePath}"
                 href="#"
                 data-country-code="country-${data.globalCountryCode}"
                 data-country-name="${country @ i18n, locale=data.locale}"
                 data-channel="${data.globalChannel}"
                 data-language="${data.globalLanguageCode}"
                 class="global-site-link global-link x-sub-hover js-country-language-selection" data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"
            data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="global-top-navigation" data-da-link_link-header="country-selector" data-da-link_link-Text="${'rdoe_countrySelector.globalSiteText' @ i18n, locale=data.locale}" data-da-link_event="country-selector"
data-da-link_link-Interaction-Method="">${'rdoe_countrySelector.globalSiteText' @ i18n, locale=data.locale}
                <span class="u-right-arrow x-text-hidden">Next</span>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</sly>
