<sly data-sly-template.popupcomponent_template>
    <div class="x-modal-up fade modal in" id="myModalPopUp"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-module="modalPopComp">
      <div class="c-modal-up-dialog modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-content__header modal-header">
            <h1 class="modal-title j-modal-title">Modal Title</h1>
            <button type="button" class="x-cross-button c-close j-close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-content__body modal-body j-modal-body-text">Some randomr randomr randomr randomr randomr randomr</div>
          <div class="modal-content__footer modal-footer">
            <button type="button" class="x-submit-button btn-secondary j-btn-secondary" data-dismiss="modal" data-da-satelliteTrackEvent="generic-link-tracking"
               data-da-link_link-page-name="" 
               data-da-link_link-category="" 
               data-da-link_link-section="global-top-navigation"
               data-da-link_link-header="hamburger-menu-overlay"
               data-da-link_link-text="${'rdoe_deeplinkpopup.agree' @ i18n}">Close</button>
            <button type="button" class="x-submit-button btn-primary j-btn-primary" data-da-satelliteTrackEvent="generic-link-tracking"
               data-da-link_link-page-name="" 
               data-da-link_link-category="" 
               data-da-link_link-section="global-top-navigation"
               data-da-link_link-header="hamburger-menu-overlay"
               data-da-link_link-text="${'rdoe_deeplinkpopup.disagree' @ i18n}">Save changes</button>
          </div>
        </div>
      </div>
</div>
<div class="modal-backdrop fade x-modal-backdrop js-modal-backdrop"></div>
</sly>
