<sly data-sly-template.assayMenuTab_template="${@ data, flag}">
  <div class="c-assay-menu js-assay-menu" data-module="assayMenuTab">
    <div class="c-assay-menu__btn js-assay-menu__btn visible-xs x-component-spacing">
      <p class="c-assay-menu__btn__titletext">${data.title}</p>
      <a href="javascript:void(0)" data-action="" class="view-btn js-view-btn">${'rdoe_assayMenu.buttonText' @i18n}</a>
    </div>
    <div class="c-assay-menu__wrapper clearfix js-wrapper">
      <div class="c-assay-menu__wrapper__header">
        <div class="left-col">
          <a href="javascript:void(0)" class="close js-close" role="button">close
              </a>
        </div>
        <div class="right-col">
          <div class="right-col__row">
            <p class="assay-title">${data.title}</p>
          </div>
        </div>
      </div>
      <div class="c-assay-menu__tabs-container">
        <nav class="c-assay-menu__tabs--m visible-xs js-tabs--m">
          <ul class="tab-list">
            <li class="item js-item" data-target="key"><a href="#" class="x-sub-hover"> ${'rdoe_assayMenu.keyText' @i18n}</a></li>
            <div data-sly-test="${data.products}" data-sly-list.items="${data.products}" data-sly-unwrap>
              <li class="item js-item" data-target="${items.productId}">
                <a href="#" class="x-sub-hover" data-fn-click="true" data-da-satelliteTrackEvent="product-detail-tracking" data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="assay-menu" data-da-link_link-Header="${data.title}" data-da-link_link-Text="${items.productName}" data-da-link_link-Interaction-Method="" data-da-link_product-Category="${items.productId}" data-da-link_product-Name="${items.productName}" data-da-link_product-Id="${items.productId}"> ${items.productName}</a></li>
            </div>
          </ul>
        </nav>
        <div data-sly-test="${data.products.size>1}" data-sly-unwrap>
          <nav class="c-assay-menu__tabs--d js-assay-menu-desktop hidden-xs c-assay-menu__main__compare-tab">
            <h2 class="compare-heading">${data.compareTitle}</h2>
            <ul class="tab-list compare-margin product-tabs">
              <div data-sly-test="${data.products}" data-sly-list.items="${data.products}" data-sly-unwrap>
                <li class="item js-item" data-target="${items.productId}">
                  <div class="compare-tab-block" data-fn-click="true" data-da-satelliteTrackEvent="product-detail-tracking" data-da-link_link-Page-Name="" data-da-link_link-Category="" data-da-link_link-Section="assay-menu" data-da-link_link-Header="${data.title}" data-da-link_link-Text="${items.altText}" data-da-link_link-Interaction-Method="" data-da-link_product-Category="${items.productId}" data-da-link_product-Name="${items.productName}" data-da-link_product-Id="${items.productId}">
                    <sly  data-sly-use.lib="/apps/roche/pharma/customerportal/components/dynamicimage/dynamicimage.html" data-sly-call="${lib.dynamicimage_template @imagePath=items.productImage, altText=items.altText, className= 'compare-tab-block__img'}" />
                  </div>
                  <div class="compare-tab-block-text">${items.productName}</div>
                </li>
              </div>
            </ul>
          </nav>
        </div>
      </div>
      <div class="c-assay-menu__wrapper__body clearfix">
         <sly data-sly-include="ssi_instument.jsp">
      </div>
    </div>
  </div>
</sly>
