// Theme colors - Generic color used for buttons, background, links and other components
$color-theme: #0066CC;
$color-primary: #fff;
$color-secondary: #bababa;
$color-tertiary: #999;
$color-shade: #ccc;
// Text colors
$color-text-default: #333;
$color-text-title: #313638;
$color-text-footer: #666;
// Background colors
$color-bg-theme: transparent;
$color-bg-chart: rgba(229, 239, 250, 0.5);
$color-bg-punch: #e5effa;
$color-bg-card1: #f2f2f2;
$color-bg-card2: #cce0f5;
$color-bg-tag: #ffc414;
$color-bg-megamenu: #000;
$color-bg-board: #d8d8d8;
$color-bg-disabled: #e5e5e5;