// Font variables
$font-imagopro-bold: 'imago-bold',
Arial,
sans-serif;
$font-imagopro-bolditalic: 'imago-bold-italic',
Arial,
sans-serif;
$font-imagopro-book: 'imago-book',
Arial,
sans-serif;
$font-imagopro-medium: 'imago-medium',
Arial,
sans-serif;
$font-imagopro-light: 'imago-light',
Arial,
sans-serif;
$font-minion-italic: 'Minion-Italic',
Arial,
sans-serif;
$font-roboto: 'Roboto',
Arial,
sans-serif;