// Function to change px to rem unit
@function convert-to-rem($args) {
    $argsLength: length($args);
    $result: "";
    $remValue: "";
    @for $index from 1 through $argsLength {
        $remValue: nth($args, $index)/$font-html;
        $result: #{$result + $remValue}rem;
        @if ($index < $argsLength) {
            $result: #{$result + " "};
        }
    }
    @return $result;
}

@function calculate-base-font($target-breakpoint) {
    @return round(($target-breakpoint/$desktop-large-bp)*$font-html);
}