// Breakpoints import
@import 'breakpointVars';
// Font variables import
@import 'fontVars';
// Color variables import
@import 'colors';
// HTML font
$font-html: 16px;
$font-html-md: 14px;
$font-html-sm: 12px;