// Breakpoints from default theme
@import './default-theme/breakpointVars';
// Inherit default theme colors
@import './default-theme/colors';
// Variables for z-index
$zindex-default: 0;
// Maximum 3 levels allowed in z-index
$zindex-p: 1;
$zindex-s: 2;
$zindex-t: 3;
// To move element to the background
$zindex-hide: -1;
// z-index for modal containers
$zindex-modal: 9999;