<!--/* Product Listing  Component .
 This is the  component for product listing page*/-->

<sly data-sly-template.searchlisting_template="${@ data, flag}">

<div class="t-prod-listing t-search-listing x-comp-offset-spacing">
	<!-- <section class="x-outer-margins c-page-title">
		Title
	</section> -->

	<section class="t-prod-listing__search-row">
		<sly data-sly-resource="${'searchResultBar' @ resourceType='/apps/roche/pharma/customerportal/components/searchResultBar'}" />
	</section>

	<section class="c-prod-listing-wrapper" id="products" class="js-tab-view search-results-tab">
		<div class="prod-search-results-tile">
			<div>
				<h1>Products</h1>
			</div>
		</div>
		<div class="visible-xs prod-filter-tab">
		</div>
	</section>
	<section class="c-prod-listing-wrapper" id="documentation" class="js-tab-view search-results-tab">
	
			<sly data-sly-resource="${'eLabDociFrame' @ resourceType='/apps/roche/pharma/customerportal/components/eLabDociFrame'}" />
	
	</section>
	<section class="c-prod-listing-wrapper" id="more" class="js-tab-view search-results-tab">
		<div class="prod-search-results-tile">
			<div>
				<h1>More</h1>
			</div>
		</div>
		<div class="visible-xs prod-filter-tab">
		</div>
	</section>


</div>
</sly>