<sly data-sly-template.searchresultfilter_template="${@ data,flag}">
<div class="search-results-tab-component js-search-nav" data-module="pdpNavTabs">
    <nav class="c-tabs-container js-tabs-container" data-module="searchBarFilterCmp">
        <ul class="c-tabs-list js-tabs-list">
            <li class="c-tab-list-item js-tab-item selected" data-tab-name="products">
                <a role="navigation" href="javascript:void(0)" class="x-sub-hover"
                   data-fn-click="true"
                   data-da-satelliteTrackEvent="generic-link-tracking"
                   data-da-link_link-Page-Name=""
                   data-da-link_link-Category="internal"
                   data-da-link_link-Section="${component.name}"
                   data-da-link_link-Text="product"
                   data-da-link_link-Interaction-Method="">
                    ${'rdoe_searchBarFilter.productTab' @ i18n}</a>
            </li>
            <sly data-sly-test="${data.isElabDocEnabled}">
              <li class="c-tab-list-item js-tab-item " data-tab-name="documentation">
                  <a role="navigation" href="javascript:void(0)" class="x-sub-hover"
                    data-fn-click="true"
                    data-da-satelliteTrackEvent="generic-link-tracking"
                    data-da-link_link-Page-Name=""
                    data-da-link_link-Category="internal"
                    data-da-link_link-Section="${component.name}"
                    data-da-link_link-Text="documentation"
                    data-da-link_link-Interaction-Method="">
                      ${'rdoe_searchBarFilter.documentationTab' @ i18n}</a>
              </li>
            </sly>
            <li class="c-tab-list-item js-tab-item " data-tab-name="more">
                <a role="navigation" href="javascript:void(0)" class="x-sub-hover"
                   data-fn-click="true"
                   data-da-satelliteTrackEvent="generic-link-tracking"
                   data-da-link_link-Page-Name=""
                   data-da-link_link-Category="internal"
                   data-da-link_link-Section="${component.name}"
                   data-da-link_link-Text="more"
                   data-da-link_link-Interaction-Method="">
                    ${'rdoe_searchBarFilter.moreTab' @ i18n}</a>
            </li>
        </ul>
    </nav>
</div>
</sly>
