<sly data-sly-template.heroMedia_template="${@ data, flag}">
  <div data-sly-test="${data}" data-sly-unwrap>
    <!--/* Check if there's requirement for full width video display */-->
    <sly data-sly-test.isFullWidthVid="${data.assetType == 'video' && !(data.textPosition == 'leftOutsideImage' || data.textPosition == 'rightOutsideImage')}" />
    <!--/* Start */-->
    <div class="heroBannerContainer x-component-spacing" data-assettype="${data.assetType}">
      <sly data-sly-test="${!isFullWidthVid}">
        <div class="c-heromedia">
          <div class="x-hero-banner ${data.variationType} ${data.variationType == 'mediaContainer' && (data.textPosition == 'leftOutsideImage' || data.textPosition == 'rightOutsideImage') ? 'split-view-lg' : ''} ${data.variationType == 'mediaContainer' && (data.textPosition == 'leftOutsideImage' || data.textPosition == 'rightOutsideImage') ? 'x-outer-margins' : ''} ${data.fileReference ?'':'no-image'}" role="banner">
            <sly data-sly-test="${data.textPosition != 'leftOutsideImage'}">
              <sly data-sly-test="${(data.assetType == 'image' && data.fileReference)}">
                <div class="layer-cnt ${data.transparentOverlay == 'true' ? 'with-opaque-img' : ''}">
                  <!-- @TODO: Replace with responsive/adaptive image component syntax -->
                  <sly data-sly-test="${data.CTALink}">
                    <a class="x-sub-hover" href="${data.CTALink}${data.isExternal != 'true' ? '.html' : ''}" target="${data.isExternal == 'true' ? '_blank' : '_self'}" title="${data.CTALink}">
                      <sly  data-sly-use.lib="/apps/roche/pharma/customerportal/components/dynamicimage/dynamicimage.html" data-sly-call="${lib.dynamicimage_template}" data-fn-click="true"
             data-da-satelliteTrackEvent="generic-link-tracking"
               data-da-link_link-Page-Name="" 
               data-da-link_link-Category="" 
               data-da-link_link-Section="${data.variationType}-${data.assetType}"
               data-da-link_link-Text="${data.variationType}"
data-da-link_link-Interaction-Method=""/>
                    </a>
                  </sly>
                  <sly data-sly-test="${!data.CTALink}">
                    <sly  data-sly-use.lib="/apps/roche/pharma/customerportal/components/dynamicimage/dynamicimage.html" data-sly-call="${lib.dynamicimage_template}" />
                  </sly>
                </div>
              </sly>
              <sly data-sly-test="${data.assetType == 'video'}">
                <div class="layer-cnt" data-sly-use.videoCmp="/apps/roche/pharma/customerportal/components/heroMedia/heroMedia-video-template.html" data-sly-call="${videoCmp.video @ data = data, id=''}">
                </div>
              </sly>
            </sly>
            <!-- As videos have heading themselves -->
            <sly data-sly-test="${!(data.assetType == 'video' && (data.textPosition == 'leftInsideImage' || data.textPosition == 'rightInsideImage'))}">
              <div class="layer-cnt ${data.textPosition == 'leftOutsideImage' ? 'hidden-xs hidden-sm' : ''} ${data.assetType == 'video' ? 'videoComponent' : ''}">
                <div class="hero_content ${data.variationType == 'mediaContainer' ? data.textPosition : data.headlinePosition}">
                  <header class="headline animated slideInUp" role="heading">
                    <div data-sly-test="${data.headline}" data-sly-unwrap> 
                      <h5 class="h5">
                          ${data.headline @ context='html'}
                      </h5>
                    </div>
                  </header>
                  <div class="subheadline animated slideInUp" data-sly-test="${data.subHeadline}">
                    <h6 class="h6"> 
                                    ${data.subHeadline @ context='html'}
                                </h6>
                  </div>
                  <div class="x-body-text" data-sly-test="${data.quoteText}">
                    <sly data-sly-test="${!data.CTALink}">
                      ${data.quoteText @ context='html'}
                    </sly>
                    <sly data-sly-test="${(data.CTALink  && (data.textPosition == 'leftInsideImage' || data.textPosition == 'rightInsideImage'))}">
                      
                                ${data.quoteText @ context='html'}
                                
                    </sly>
                    <sly data-sly-test="${(data.CTALink && (data.textPosition == 'leftOutsideImage' || data.textPosition == 'rightOutsideImage'))}">
                      ${data.quoteText @ context='html'}
                    </sly>
                  </div>
                  <sly data-sly-test="${data.CTALabel && data.CTALink}">
                    <a class="x-submit-button" role="button" href="${data.CTALink}${data.isExternal != 'true' ? '.html' : ''}" target="${data.isExternal == 'true' ? '_blank' : '_self'}" title="${data.CTALabel}" data-fn-click="true"
             data-da-satelliteTrackEvent="generic-link-tracking"
               data-da-link_link-Page-Name="" 
               data-da-link_link-Category="" 
               data-da-link_link-Section="herobanner-${data.assetType}"
               data-da-link_link-Text="${data.CTALabel}"
data-da-link_link-Interaction-Method="">
                                    ${data.CTALabel}
                                </a>
                  </sly>
                </div>
              </div>
            </sly>
            <sly data-sly-test="${data.textPosition == 'leftOutsideImage'}">
              <sly data-sly-test="${(data.assetType == 'image' && data.fileReference)}">
                <div class="layer-cnt ${data.transparentOverlay == 'true' ? 'with-opaque-img' : ''}">
                  <sly data-sly-test="${data.CTALink}">
                    <a class="x-sub-hover" href="${data.CTALink}${data.isExternal != 'true' ? '.html' : ''}" target="${data.isExternal == 'true' ? '_blank' : '_self'}" title="${data.CTALink}" data-fn-click="true"
             data-da-satelliteTrackEvent="generic-link-tracking"
               data-da-link_link-Page-Name="" 
               data-da-link_link-Category="" 
               data-da-link_link-Section="herobanner-${data.assetType}"
               data-da-link_link-Text="${data.altText}"
data-da-link_link-Interaction-Method="">
                      <sly  data-sly-use.lib="/apps/roche/pharma/customerportal/components/dynamicimage/dynamicimage.html" data-sly-call="${lib.dynamicimage_template}" />
                    </a>
                  </sly>
                  <sly data-sly-test="${!data.CTALink}">
                    <sly  data-sly-use.lib="/apps/roche/pharma/customerportal/components/dynamicimage/dynamicimage.html" data-sly-call="${lib.dynamicimage_template}" />
                  </sly>
                </div>
                <div class="layer-cnt hidden-lg hidden-md">
                  <div class="hero_content ${data.variationType == 'mediaContainer' ? data.textPosition : data.headlinePosition}">
                    <header class="headline animated slideInUp" role="heading">
                      <div data-sly-test="${data.headline}" data-sly-unwrap> 
                        <h5 class="h5">
                            ${data.headline @ context='html'}
                        </h5>
                      </div>
                    </header>
                    <div class="subheadline animated slideInUp" data-sly-test="${data.subHeadline}">
                      <h6 class="h6"> 
                                    ${data.subHeadline @ context='html'}
                                </h6>
                    </div>
                    <div class="x-body-text" data-sly-test="${data.quoteText}">
                      <sly data-sly-test="${!data.CTALink}">
                        ${data.quoteText @ context='html'}
                      </sly>
                      <sly data-sly-test="${(data.CTALink  && (data.textPosition == 'leftInsideImage' || data.textPosition == 'rightInsideImage'))}">
                        <a href="${data.CTALink}" title="${data.CTALink}" data-fn-click="true"
             data-da-satelliteTrackEvent="generic-link-tracking"
               data-da-link_link-Page-Name="" 
               data-da-link_link-Category="" 
               data-da-link_link-Section="herobanner-${data.assetType}"
               data-da-link_link-Text="${data.quoteText @ context='html'}"
data-da-link_link-Interaction-Method="">
                                ${data.quoteText @ context='html'}
                                </a>
                      </sly>
                      <sly data-sly-test="${(data.CTALink && (data.textPosition == 'leftOutsideImage' || data.textPosition == 'rightOutsideImage'))}">
                        ${data.quoteText @ context='html'}
                      </sly>
                    </div>
                    <sly data-sly-test="${data.CTALabel && data.CTALink}">
                      <a class="x-submit-button" role="button" href="${data.CTALink}${data.isExternal != 'true' ? '.html' : ''}" target="${data.isExternal == 'true' ? '_blank' : '_self'}" title="${data.CTALabel}" data-fn-click="true"
             data-da-satelliteTrackEvent="generic-link-tracking"
               data-da-link_link-Page-Name="" 
               data-da-link_link-Category="" 
               data-da-link_link-Section="herobanner-${data.assetType}"
               data-da-link_link-Text="${data.CTALabel}"
data-da-link_link-Interaction-Method="">
                                    ${data.CTALabel}
                                </a>
                    </sly>
                  </div>
                </div>
              </sly>
              <sly data-sly-test="${data.assetType == 'video'}">
                <div class="layer-cnt" data-sly-use.videoCmp="/apps/roche/pharma/customerportal/components/heroMedia/heroMedia-video-template.html" data-sly-call="${videoCmp.video @ data = data, id=''}">
                </div>
                 <!---->
                <div class="layer-cnt hidden-lg hidden-md">
                  <div class="hero_content ${data.variationType == 'mediaContainer' ? data.textPosition : data.headlinePosition}">
                    <header class="headline animated slideInUp" role="heading">
                      <div data-sly-test="${data.headline}" data-sly-unwrap> 
                        <h5 class="h5">
                          ${data.headline @ context='html'}
                        </h5>
                      </div>
                    </header>
                    <div class="subheadline animated slideInUp" data-sly-test="${data.subHeadline}">
                      <h6 class="h6"> 
                                    ${data.subHeadline @ context='html'}
                                </h6>
                    </div>
                    <div class="x-body-text" data-sly-test="${data.quoteText}">
                      <sly data-sly-test="${!data.CTALink}">
                        ${data.quoteText @ context='html'}
                      </sly>
                      <sly data-sly-test="${(data.CTALink  && (data.textPosition == 'leftInsideImage' || data.textPosition == 'rightInsideImage'))}">
                        <a href="${data.CTALink}" title="${data.CTALink}" data-fn-click="true"
             data-da-satelliteTrackEvent="generic-link-tracking"
               data-da-link_link-Page-Name="" 
               data-da-link_link-Category="" 
               data-da-link_link-Section="herobanner-${data.assetType}"
               data-da-link_link-Text="${data.quoteText @ context='html'}"
data-da-link_link-Interaction-Method="">
                                ${data.quoteText @ context='html'}
                                </a>
                      </sly>
                      <sly data-sly-test="${(data.CTALink && (data.textPosition == 'leftOutsideImage' || data.textPosition == 'rightOutsideImage'))}">
                        ${data.quoteText @ context='html'}
                      </sly>
                    </div>
                    <sly data-sly-test="${data.CTALabel && data.CTALink}">
                      <a class="x-submit-button" role="button" href="${data.CTALink}${data.isExternal != 'true' ? '.html' : ''}" target="${data.isExternal == 'true' ? '_blank' : '_self'}" title="${data.CTALabel}" data-fn-click="true"
             data-da-satelliteTrackEvent="generic-link-tracking"
               data-da-link_link-Page-Name="" 
               data-da-link_link-Category="" 
               data-da-link_link-Section="herobanner-${data.assetType}"
               data-da-link_link-Text="${data.CTALabel}"
data-da-link_link-Interaction-Method="">
                                    ${data.CTALabel}
                                </a>
                    </sly>
                  </div>
                </div>
                <!---->
              </sly>
            </sly>
          </div>
        </div>
      </sly>
      <sly data-sly-test="${isFullWidthVid}">
        <div data-sly-use.videoCmp="/apps/roche/pharma/customerportal/components/heroMedia/heroMedia-video-template.html" data-sly-call="${videoCmp.video @ data = data}">
        </div>
      </sly>
    </div>
  </div>
</sly>
